{%- comment -%}
  One-flag language toggle for 2 languages per domain.
  Shows the "other" language flag and switches language while keeping current page.

  Works for ilovesnacks.de where RU is /ru and DE is root.
{%- endcomment -%}

{%- assign current_iso = localization.language.iso_code | downcase -%}

{%- assign other_lang = nil -%}
{%- for lang in localization.available_languages -%}
  {%- if lang.iso_code != localization.language.iso_code -%}
    {%- assign other_lang = lang -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

{%- if other_lang != nil -%}
  {%- assign other_iso = other_lang.iso_code | downcase -%}

  {%- assign flag_url = '' -%}
  {%- if other_iso == 'ru' -%}
    {%- assign flag_url = 'https://cdn.shopify.com/s/files/1/0963/6380/7052/files/lang-ru.png?v=1766262164' -%}
  {%- elsif other_iso == 'de' -%}
    {%- assign flag_url = 'https://cdn.shopify.com/s/files/1/0963/6380/7052/files/lang-de.png?v=1766262164' -%}
  {%- elsif other_iso == 'lv' -%}
    {%- assign flag_url = 'https://cdn.shopify.com/s/files/1/0963/6380/7052/files/lang-lv.png?v=1766262164' -%}
  {%- elsif other_iso == 'et' or other_iso == 'ee' -%}
    {%- assign flag_url = 'https://cdn.shopify.com/s/files/1/0963/6380/7052/files/lang-ee.png?v=1766262164' -%}
  {%- elsif other_iso == 'lt' -%}
    {%- assign flag_url = 'https://cdn.shopify.com/s/files/1/0963/6380/7052/files/lang-lt.png?v=1766262165' -%}
  {%- endif -%}

  {%- if flag_url != blank -%}
    <div class="lang-flag-toggle" data-lang-flag-toggle>
      {%- form 'localization', id: 'LangFlagToggleForm', class: 'lang-flag-toggle__form' -%}
        <input type="hidden" name="locale_code" value="{{ other_lang.iso_code }}">
        <input type="hidden" name="return_to" value="{{ request.path }}{% if request.query_string != blank %}?{{ request.query_string }}{% endif %}">
        <button type="submit" class="lang-flag-toggle__btn" aria-label="Switch language to {{ other_lang.name | escape }}">
          <img
            class="lang-flag-toggle__img"
            src="{{ flag_url }}"
            alt="{{ other_lang.name | escape }}"
            loading="lazy"
            width="28"
            height="20"
          >
        </button>
      {%- endform -%}
    </div>
  {%- endif -%}
{%- endif -%}